* {
    font-family: Arial, Helvetica, sans-serif;
}

.container, .digits div, .operators div {
    border: 1px green solid;
    border-radius: 5px;
}

.digits div, .operators div {
    margin: 0.1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Style for the calculator */
.container {
    width: 95%;
    height: 25rem;
    margin: 15% auto;
    background-color: rgba(38, 172, 38, 0.623);
}

/* Style for the keys */
.keys {
    display: flex;
    height: 75%;
    justify-content: space-around;
}

.digits {
    width: 75%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.digits div, .operators div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
}

.operators {
    width: 20%;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

.operators .delete1, .digits .clear {
    background-color: rgb(233, 111, 111);
    color: black;
    border: none;
}

.operators .equals {
    background-color: red;
    border: none;
}

/* Style for the screen */
.screen {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    height: 20%;
    max-width: 95%;
    background-color: rgb(213, 253, 153);
    margin: 0.3rem auto;
    padding: 0.3rem;
    font-size: 1.5rem;
    word-break: break-word;
    color: blue;
}

@media (min-width: 426px) and (max-width: 768px) {
    .container {
        width: 50%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 37%;
    }
}

@media (min-width: 1025px) /*and (max-width: 1440px)*/ {
    .container {
        width: 30%;
        margin-top: 5%;
    }
}